Repository safsbe/mental-health-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

ci: re-enable run on `pull_request`
  .github/workflows/ci.yaml
Due: none

chore: fix pre-commit lint hook
  .lintstagedrc.json
Due: none

chore: fix contributing guide
  CONTRIBUTING.md
Due: npx --no --package=prettier -- prettier --write

feat: easier logout for development purposes
  app/(tabs)/index.tsx
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

fix: redesign explore layout and link to articles
  app/(tabs)/index.tsx
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

fix: configure intro video to run only once during initial setup
  app/login/index.tsx
  app/onboarding/index.tsx
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

fix: increase mood image size
  components/MoodScale.tsx
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

fix: working article listings and articles
  app/(articles)/[article].tsx
  app/(articles)/_layout.tsx
  app/(articles)/articles.tsx
  package-lock.json
  package.json
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

fix: wrong svg link
  app/(tabs)/index.tsx
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

feat: initial diary and graph components
  app/calendar/index.tsx
  app/diary/index.tsx
  components/Graph.tsx
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

working no drawer
  app/(articles)/[article].tsx
  app/(articles)/_layout.tsx
  app/(articles)/articles.tsx
  app/(tabs)/index.tsx
  components/Explore.tsx
  package-lock.json
  package.json
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

feat: add drawer and orientation functionality for articles page
  app.json
  app/(articles)/[article].tsx
  app/(articles)/articles.tsx
  babel.config.js
  gesture-handler.js
  gesture-handler.native.js
  index.js
  metro.config.js
  package-lock.json
  package.json
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

added calendar
  .eslintcache
  app/(drawer)/(tabs)/_layout.tsx
  app/(drawer)/(tabs)/index.tsx
  app/(drawer)/(tabs)/resources.tsx
  app/(drawer)/(tabs)/sos.tsx
  app/(drawer)/_layout.tsx
  app/(drawer)/profile/_layout.tsx
  app/_layout.tsx
  components/CalendarView.tsx
  components/CustomDrawer.tsx
  components/MonthCalendar.tsx
  components/MoodGraph.tsx
  components/WeekCalendar.tsx
  components/YearCalendar.tsx
  package-lock.json
  package.json
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

feat: sqlite database
  .babel.config.js.swp
  app/(tabs)/index.tsx
  app/_layout.tsx
  babel.config.js
  bable.config.js
  components/MoodScale.tsx
  components/Quote.tsx
  db/schema/diaryEntries.ts
  db/schema/index.ts
  db/schema/quotes.ts
  db/schema/userPrefs.ts
  db/seed.ts
  drizzle.config.ts
  drizzle/0000_good_lethal_legion.sql
  drizzle/0001_pretty_magma.sql
  drizzle/0002_striped_night_thrasher.sql
  drizzle/0003_conscious_thunderbird.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/0001_snapshot.json
  drizzle/meta/0002_snapshot.json
  drizzle/meta/0003_snapshot.json
  drizzle/meta/_journal.json
  drizzle/migrations.js
  metro.config.js
  package-lock.json
  package.json
  providers/drizzle.ts
  utils/store.ts
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

fix: local articles now working on android apk
  app/(articles)/[article].tsx
  app/(articles)/articles.tsx
  app/meditation/meditation.tsx
  components/Activities.tsx
  metro.config.js
  package.json
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

style: fix lint
  app/(articles)/[article].tsx
  app/(articles)/articles.tsx
  gesture-handler.native.js
  metro.config.js
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

feat: add drawer navigator
  app/(tabs)/index.tsx
  components/Explore.tsx
  package-lock.json
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

feat: add calendar
  app/(drawer)/(tabs)/_layout.tsx
  app/(drawer)/(tabs)/index.tsx
  app/(drawer)/(tabs)/resources.tsx
  app/(drawer)/(tabs)/sos.tsx
  app/(drawer)/_layout.tsx
  app/(drawer)/profile/_layout.tsx
  app/_layout.tsx
  components/CalendarView.tsx
  components/CustomDrawer.tsx
  components/MonthCalendar.tsx
  components/MoodGraph.tsx
  components/WeekCalendar.tsx
  components/YearCalendar.tsx
  package-lock.json
  package.json
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

fix(android): article image assets
  package.json
Due: none

fix(android): watch scripts
  package.json
Due: none

fix(android): android asset copy script
  package.json
Due: none

fix(android): align mindful pause to figma
  app/meditation/meditation.tsx
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

fix: add missing article link and fix orientation issue
  app/meditation/meditation.tsx
Due: npx --no --package=prettier -- prettier --write, npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache

Path conditions:
  npx --no --package=prettier -- prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.md)
  npx --no --package=eslint -- eslint --fix --report-unused-disable-directives --cache: any of: *.{js,jsx,ts,tsx}
